In [1]:
for y in range(0,5):
    for x in range(0,y+1):
        print("*" ,end="")
    print()

*
**
***
****
*****

In [10]:
for x in range(0,5):
    for y in range(0,y+1):
        print("*" ,end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
for y in range(0,5):
    for x in range(0,x):
        print("*" ,end="")
    print()

****
***
**
*

In [18]:
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
    for j in range(1,j):
        print(j,end=" ")
    print()

Enter the number of rows: 5

1 2 3 4
1 2 3
1 2
1

In [22]:
for i in range(1,7):
    for j in range(1,7):
        if i==1 or i==6 or j==1 or j==6:
            print("*",end=" ")
        else:
            print("*",end=" ")
    print('')

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [23]:
for i in range(6,0,-1):
        for j in range(i,0,-1):
            #print(f"{num} ",end=" ")
            print("",j,end=" ")
            
        print('')

 6  5  4  3  2  1
 5  4  3  2  1
 4  3  2  1
 3  2  1
 2  1
 1

In [24]:
for i in range(1,7):
        for j in range(1,i):
            #print(f"{num} ",end=" ")
            print("",j,end=" ")
            
        print('')

 1
 1  2
 1  2  3
 1  2  3  4
 1  2  3  4  5

In [31]:
n=int(input("enter the number of rows for the pattern:"))
for j in range(n):
    for i in range(i+1):
        print((i+j)% 2,end=" ")
    print()

enter the number of rows for the pattern: 5

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [35]:
n=int(input("enter the number of rows for the pattern:"))
for i in range(n):
    for j in range(i+1):
        print((i+j)% 2,end=" ")
    print()

enter the number of rows for the pattern: 5

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [6]:
#leet code problem1
nums=[2,7,3,4]
target=9
class solution:
    
    def twoSum(self, nums: list[int],target: int)->List[int]:
        for i in range(0,len(num)):
            for j in range(0,len(nums)):
                if i==j:
                    continue
                    if num[i]+nums[j]==target:
                     return[i,j]

SyntaxError: expected ':' (3713879236.py, line 4)

In [ ]:
#leet code problems 7
class solution:
    def reverse(self,x: int)->int: