In [1]:
Name=input("Enter your name: ")
age=int(input("enter your age: "))

if age>=18:
    print("you are elegible")
else:
    print(Name)
    print("you are not elegible")

Enter your name:  trupti
enter your age:  21

you are elegible

In [2]:
Name=input("Enter your name: ")
age=int(input("enter your age: "))

if age>=18:
    print("you are elegible")
else:
    print(Name)
    print("you are not elegible")

Enter your name:  pratik
enter your age:  16

pratik
you are not elegible

In [3]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
if a>b:
    print("a is greater:")
else:
    print("b is greater:")

enter first number: 5
enter second number: 9

b is greater:

In [10]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=int(input("enter third number: "))
if a>b:
    if a>c:
        print("a is largest")
    else:
        print("c is largest")
else:
    if b>c:
        print("b is largest")
    else:
        print("c is largest")

enter first number: 5
enter second number: 4
enter third number:  6

c is largest

In [11]:
marks=int(input("enter the marks"))
if marks>=90 and marks<100:
    print("grade = A+")
else:
    if marks>=80 and marks<90:
        print("grade = A")
    else:
        if marks>=70 and marks<80:
            print("grade = B+")
        else:
            if marks>=60 and marks<70:
                print("grade = B")
            else:
                if marks>=50 and marks<60:
                    print("grade = C+")
                else:
                    if marks>=40 and marks<50:
                        print("grade = C")
                    else:
                        if marks>=30 and marks<40:
                            print("grade = D+")
                        else:
                            if marks>=20 and marks<30:
                                print("grade = D")
                            else:
                                if marks>=10 and marks<20:
                                    print("grade = E+")

enter the marks 56

grade = C+

In [14]:
Day= int(input("enter the Day number: "))

match Day:
      case 1: print("Sunday")
      case 2: print("Monday")
      case 3: print("Tuesday")
      case 4: print("Wednesday")
      case 5: print("Thrusday")
      case 6: print("Friday")
      case 7: print("Saturday")
      case _ :print("invalid number")

enter the Day number:  0

invalid number

In [20]:
Day= int(input("enter the Day number: "))

match Day:
      case 1: print("Sunday")
      case 2: print("Monday")
      case 3: print("Tuesday")
      case 4: print("Wednesday")
      case 5: print("Thrusday")
      case 6: print("Friday")
      case 7: print("Saturday")
      case _ if Day == 10:
              print("Ten")
      case _ if Day == 0:
                print("Zero")
      case _: print("invalid")

enter the Day number:  10

Ten

In [24]:
Day= int(input("enter the Day number: "))

match Day:
      case 1: print("Sunday")
      case 2: print("Monday")
      case 3: print("Tuesday")
      case 4: print("Wednesday")
      case 5: print("Thrusday")
      case 6: print("Friday")
      case 7: print("Saturday")
      case _ if Day == 10:
              print("Ten")
      case _ if Day >=13 and Day<=19:
                print("teens")
      case _: print("invalid")

enter the Day number:  12

invalid

In [ ]:
human cycle= int(input("enter the: "))

match Day:
      case 1: print("Sunday")
      case 2: print("Monday")
      case 3: print("Tuesday")
      case 4: print("Wednesday")
      case 5: print("Thrusday")
      case 6: print("Friday")
      case 7: print("Saturday")
      case _ if Day == 10:
              print("Ten")
      case _ if Day == 0:
                print("Zero")
      case _: print("invalid")

In [32]:
for x in range(0,10,):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [26]:
x=0#initlization
while x<10:#condition
    print(x)#working staement
    x=x+1#incremeant

0
1
2
3
4
5
6
7
8
9

In [30]:
def half_pyramid(n):
    for i in range(1,n + 1):
        for j in range(1,i + 1):
            print("* ",end=" ")
            print("\r")
n=5
half_pyramid(n)

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
rows = 5
for i in range(1,range

In [35]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10,):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
10
10
10
10
10
10
10
10
10

In [38]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10,):
    for x in range(0,10,):
        print("y"  "x")

0
1
2
3
4
5
6
7
8
9
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx
yx

In [37]:
x=0
while x<10:
    print(x)
    x=x+1
for y in range(0,10):
    for x in range(0,y+1):
        print("*" ,end="")
    print()

0
1
2
3
4
5
6
7
8
9
*
**
***
****
*****
******
*******
********
*********
**********

In [8]:
for y in range(0,5):
    for x in range(0,x):
        print("*" ,end="")
    print()

****
***
**
*

In [11]:
#fibonnic series
a=0
b=1
n=int(input("Enter the limit"))
print(a,b, end=" ")
for n in range(0,n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

Enter the limit 4

0 1 1 2

In [12]:
#FUNCTIONS
def abcd(a,b):
    c=a+b
    return c

A=int(input())
B=int(input())
print(abcd(A,B))

 4
 4

8

In [15]:
def abcd(a,b):
    print(c)
    return 

A=int(input())
B=int(input())
#print(abcd(A,B))
abcd(A,B)

 5
 4

2

In [2]:
for y in range(0,5):
    for x in range(0,y-1):
        print("*" ,end="")
    print()

*
**
***

In [7]:
for x in range(0,5):
    for y in range(0,y+1):
        print("*" ,end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
for y in range(0,5):
    for x in range(0,y+1):
        print("" ,end=" ")
    print()

num
num num
num num num
num num num num
num num num num num

In [ ]:
rows=int(input("enter the number of rows:"))
for i in range(1,rows+1