In [5]:
#LIST

a=[1,2,3,4,5.7,6,7]

print(a)
print(type(4))
print(type(5))

[1, 2, 3, 4, 5.7, 6, 7]
<class 'int'>
<class 'int'>

In [2]:

y=[1,2,3,4,5]
for a in range (0,5):
    print(y[a])

1
2
3
4
5

In [ ]:
pop to pull out element of the list/remove and return item at index/raises indexerror if list is empty or index is out of range 
sort use to sort the list
copy is used to copy the list
append  the  end of the object
extend list by appending elements from the iterable.
index=return first of value /raises value 
count=return number of occurence of value
insert object before index
remove=remove first occurence of value
sort=sort the elements in ascending order and return the value
*len(List)=name of the list

In [2]:
a=[1,2,3,4]
b=a.copy()
print(a)

c=b.pop(3)
print(c)

print(b)
b.append(10)
print(b)

print(b.index(3))

print(b.count(3))
b.insert(5,9)
print(b)
b.remove(2)
print(b)
b.sort()
print(b)
b.sort(reverse=True)
print(b)

print(len(b))

b.extend(a)
print(b)
print(b+a)

[1, 2, 3, 4]
4
[1, 2, 3]
[1, 2, 3, 10]
2
1
[1, 2, 3, 10, 9]
[1, 3, 10, 9]
[1, 3, 9, 10]
[10, 9, 3, 1]
4
[10, 9, 3, 1, 1, 2, 3, 4]
[10, 9, 3, 1, 1, 2, 3, 4, 1, 2, 3, 4]

In [6]:
a=[10, 9, 3, 1, 1, 2, 3, 4, 1, 2, 3, 4]
a.sort(reverse=True)
for x in a:#for each loop
    print(x)

a.sort(reverse=True)

10
9
4
4
3
3
3
2
2
1
1
1

In [15]:
n=int(input("enter the size of list"))
a=[]
for x in range(0,n):
    x=input()
    a.append(x)
print(a)

enter the size of list 5
 6
 8
 8
 7
 8

['6', '8', '8', '7', '8']

In [12]:
L=[item for item in (input("enter the elements of the list: ").split())]
print(L)

enter the elements of the list:  4

['4']

In [16]:
L=[int(item) for item in (input("enter the elements of the list: ").split())]
print(L)

enter the elements of the list:  5

[5]

In [24]:
s=list([1,,3,4,4,5,6])
print(s)

SyntaxError: invalid syntax (1531724063.py, line 1)

In [ ]:
TUPLES

In [25]:
a=(1,2,3,4,5,6,7)  #reversing of list without using any built in fuunction
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

7
6
5
4
3
2
1

In [26]:
a=(1,2,3,4,5,6,7,-7,-9,-8,-0)  #reversing of list without using any built in fuunction
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

0
-8
-9
-7
7
6
5
4
3
2
1

In [28]:
a=(1,2,3,4,5,6,7,-7,-9,-8,-0)  
for x in range(-1,-1*(len(a)+1),-1):
    print(a[-1*(x+1)])

1
2
3
4
5
6
7
-7
-9
-8
0

Dictoinary

key and values

key values pair

In [5]:
D={1: "trupti" ,2: "shetty" ,3:"trupti" ,2: "abcdf"}
print(D)

print(D[2])
print(D.keys())
print(D.values())
print(D.items())
print(D.get(3))
print(D.get(4))

{1: 'trupti', 2: 'abcdf', 3: 'trupti'}
abcdf
dict_keys([1, 2, 3])
dict_values(['trupti', 'abcdf', 'trupti'])
dict_items([(1, 'trupti'), (2, 'abcdf'), (3, 'trupti')])
trupti
None

In [ ]:
copy=copy the dict
keys=provide the key value
item=will give the item of value

In [ ]:
#Write a program to take key and  value as input from the user and add it to the dict if key is not present in dict otherwise print key alerdy exist and also print its value 

key=input("enter the keys: ")
value=int(input("enter the value: "))     
D={1: "trupti" ,2: "shetty" ,3:"trupti" ,2: "abcdf"}
if D!=key:
    print("Key is present")
else:
    print("key is not present")

In [4]:
A=int(input())
B=int(input())
try:
    c=A/B
except:
    print("we can't divide the number")
    print(c)
else:
    print("Division Sucessfull")
    print(c)
finally:
    print("Error Handled")

print("we have recived the Result as : " , c)

 2
 0

we can't divide the number
0.5
Error Handled
we have recived the Result as :  0.5

In [11]:
a=[1,2,3,4,5]
i=int(input("enter the index number"))
try:
    print(a[i])
except:
    print("there is no such index")
finally:
    print("error handled")

enter the index number 8

there is no such index
error handled

In [18]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="hello"/3
except ValueError:
    print("Value unable to convert")
except ZeroDivisionError:
    print("Can't Divide By Zero")
except :
    print("Some Unknown Error found")
else:
    print("No Error")
finally:
    print("Code Execution Done")

 3
 4

Some Unknown Error found
Code Execution Done

In [17]:
#to find the sum of all the elements in the list and handled the case if  of non numeric value

In [4]:
x=[2,5,7,8]
a=int(input("enter the  value"))
a.sum()
print(a)

for a in range(0,x+1):
    print("numeric value")
else:
    print("non numeric value")

enter the  value 4

AttributeError: 'int' object has no attribute 'sum'

In [16]:
x=[2,5,7,8,"trupti"]
print(x)
sum=0
try:
    for i in x:
        sum+=int(i)
except ValueError:
    print("not a numeric")
print("sum: ",sum)

[2, 5, 7, 8, 'trupti']
not a numeric
sum:  22

In [19]:

# Create an empty dictionary
grades_dict = {}

# Get the number of students
num_students = int(input("Enter the number of students: "))

# Populate the dictionary with student names and grades
for _ in range(num_students):
    name = input("Enter student name: ")
    grade = float(input("Enter student grade: "))
    grades_dict[name] = grade

# Calculate the average grade
total_grade = 0
count = 0
for grade in grades_dict.values():
    total_grade += grade
    count += 1

if count > 0:
    average_grade = total_grade / count
    print("Average grade:", average_grade)
else:
    print("Dictionary is empty!")

Enter the number of students:  2
Enter student name:  trupti
Enter student grade:  6.95
Enter student name:  pratik
Enter student grade:  7.35

Average grade: 7.15